body{
  background-color: rgb(0, 215, 215);
}

.account-info{
  text-align: center;
}

.account-info .profile{
  text-align: center;
}

.account-info .user-profile{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid white;
  float: none;
}

.account-info p{
  text-align: center;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 500;
}

.navbar-inverse{
  position: static;
}

.account-info{
  margin-top: 10px;
}

.account-setting{
  display: none;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

label{
  display: block;
  text-align: left;
}

input[type="text"], input[type="email"], input[type="password"]{
  display: block;
  width: 100%;
  margin: 20px 0;
  height: 30px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid black;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover{
  border: 1px solid blue;
  cursor: pointer;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
  border: 1px solid blue;
  cursor: text;
}

input[type="file"]{
  margin: 20px 0;
}

input[type="submit"]{
  display: block;
  width: 100%;
  margin: 20px 0 40px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 18px;
}

input[type="submit"]:hover{
  background-color: #333;
  color: white;
  cursor: pointer;
}