*{
  padding: 0px;
  margin: 0px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul, ol{
  list-style-type: none;
}
.out, .in{
  float: right;
}
@media all and (max-width: 767px){
  .out, .in{
    float :left;
  }
}

.search-bar{
  margin-top: 80px;
  margin-bottom: 20px;
}

.search-bar .search-intro{
  text-align: center;
}

