.content{
  margin-top：20px;
}

.book-picture{
  text-align: center;

}

.book-picture img{
  width: 180px;
  height: 250px;
}

.book-info h3{
  font-size: 18px;
  text-align: center;
}
.book-info > div{
  margin: 10px;
  text-align: center;
}

.book-info > div span{
  color: orangered;
}

.book-score{
  margin-top: 20px;
}

.book-score .rate_logo{
  text-align: center;
  font-size: 18px;
}

.book-score .score_to_show{
  text-align: center;
  font-size: 18px;
  color: orangered;
}

.book-score .star{
  float: left;
}

.book-score .perc{
  float: right;
}

.book-score .progress{
  clear: both;
}

h3.label-head{
  font-size: 18px;
}

.label-set .book-label a{
  text-align: center;
  color: black;
}

.rating .rate{
  font-size: 18px;
}
.rating .star{
  font-size: 18px;
  color: orangered;
}