.content{
  margin-top：20px;
}

.book-picture{
  text-align: center;

}

.book-picture img{
  width: 180px;
  height: 250px;
}

.book-info h3{
  font-size: 18px;
  text-align: center;
}
.book-info > div{
  margin: 10px;
  text-align: center;
}

.book-info > div span{
  color: orangered;
}

.book-score{
  margin-top: 20px;
}

.book-score .rate_logo{
  text-align: center;
  font-size: 18px;
}

.book-score .score_to_show{
  text-align: center;
  font-size: 18px;
  color: orangered;
}

.book-score .star{
  float: left;
}

.book-score .perc{
  float: right;
}

.book-score .progress{
  clear: both;
}

h3.label-head{
  font-size: 18px;
  margin-bottom: 20px;
}

.label-set .book-label{
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.book-label a{
  color: white;
  padding: 5px;
  border-radius: 3px;
  background-color: green;
}

.rating .rate{
  font-size: 18px;
}
.rating .score-star{
  font-size: 18px;
  color: orangered;
}

.book-remark .share{
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 5;
}

.share a{
  text-align: center;
  display: inline-block;
  color: white;
  width: 60px;
  padding: 30px 0px;
  line-height: 0px;
  border-radius: 30px;
  background-color: green;
}

.book-content{
  margin-top: 20px;
}
.book-directory{
  margin-top: 20px;
}

.book-comment-list li{
  border: 2px solid #351B00;
  margin: 20px;
}

.book-comment-list li::after{
  content: '';
  display: block;
  clear: both;
}

.book-comment, .book-note{
  color: #351B00;
  line-height: 24px;
  font-size: 18px;
  margin-left: 15px;
}

.book-comment-info{
  background-color: #351B00;
  color: white;
}

.book-comment-content{
  color: #351B00;
  margin: 10px;
}

.book-comment-more{
  color: #351B00;
  text-align: right;
}

.book-comment-more:hover{
  color: #351B00;
}

.book-note-list li{
  border: 2px solid #351B00;
  margin: 20px;
}

.book-note-list li::after{
  content: '';
  display: block;
  clear: both;
}

.book-note-info{
  background-color: #351B00;
  color: white;
}

.book-note-content{
  color: #351B00;
  margin: 10px;
}

.book-note-more{
  color: #351B00;
  text-align: right;
}

.book-note-more:hover{
  color: #351B00;
}

.reply{
  float: right;
  padding-right: 5px;
}


