.content{
  margin-top：20px;
}

.book-picture{
  text-align: center;

}

.book-picture img{
  width: 180px;
  height: 250px;
}

.book-info h3{
  font-size: 18px;
  text-align: center;
}
.book-info > div{
  margin: 10px;
  text-align: center;
}

.book-info > div span{
  color: orangered;
}

.book-score{
  margin-top: 20px;
}

.book-score .rate_logo{
  text-align: center;
  font-size: 18px;
}

.book-score .score_to_show{
  text-align: center;
  font-size: 18px;
  color: orangered;
}

.book-score .star{
  float: left;
}

.book-score .perc{
  float: right;
}

.book-score .progress{
  clear: both;
}

.label-set h3{
  margin: 0px;
}

.rating .rate{
  font-size: 18px;
}
.rating .star{
  font-size: 18px;
  color: orangered;
}

/*
book_title{
    word-wrap: break-word;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    text-align:left;
}
.clear{
    clear:both;
    line-height:0;
    font-size:0;
}
#content{
    margin-top:-10px;
}
.article{
    float: left;
    width: 590px;
    padding-right: 40px;
}
.subjectwrap{
    word-break: break-all;
    float:none;
    width:auto;
    position:relative;
    margin-bottom:15px;
    display:block;
    font: 14px Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #666666;
}
.subject{
    margin: 2px 0 0 0;
    float:left;
    width:415px;
}
#mainpic {
    float: left;
    text-align: center;
    margin: 0 12px 0 0;
    max-width: 120px;
    overflow: hidden;
}
#mainpic a img{
    margin-bottom:10px;
    width:100%;
    height:100%;
}
#info {
    float: left;
    max-width: 248px;
    word-wrap: break-word;
}
#info .show{
    color: black;
}
#interest_sectl{
    float: left;
    width: 155px;
    margin: 2px 0 0 0;
    padding: 0 0 0 15px;
    border-left: 1px solid #eaeaea;
    color: #9b9b9b;
}
#interest_sectl .score_to_show{
    color: #494949;
    padding: 0;
    margin:10px 10px 10px 0px;
    min-width: 30%;
    font-size: 28px;
}
#interest_sectl .star, .power, .perc{
    float:left;
}
#interest_sectl .five_star .power{
    margin: 3px 4px;
    height: 10px;
    width: 63px;
    background: #ffd596 none repeat scroll 0 0;
}
#interest_sectl .four_star, .there_star, .two_star, .one_star{
    clear:both;
}
#interest_sectl .four_star .power{
    margin: 3px 4px;
    height: 10px;
    width: 30px;
    background: #ffd596 none repeat scroll 0 0;
}
#interest_sectl .there_star .power{
    margin: 3px 4px;
    height: 10px;
    width: 8px;
    background: #ffd596 none repeat scroll 0 0;
}
#interest_sectl .two_star .power{
    margin: 3px 4px;
    height: 10px;
    width: 0px;
    background: #ffd596 none repeat scroll 0 0;
}
#interest_sectl .one_star .power{
    margin: 3px 4px;
    height: 10px;
    width: 0px;
    background: #ffd596 none repeat scroll 0 0;
}
.other{
    clear:both;
}
.remark{
    float: left;
    width: 590px;
    height: 20px;
    background-color:aliceblue;
}
.aside{
    float: left;
    width: 300px;
    height: 500px;
    background-color:aliceblue;
}
#footer{
    clear:both;
    color:#999;
    font-family: cursive;
    font-size: 12px;
}
#rating{
    width: 200px;
}
#smallremark{
    width:40px;
    float:left;
}
.minisubmit{
    float:left;
    margin-left: 5px;
    margin-right: 7px;
    background-color:burlywood;
    border:none;
}
.sharelabel{
    width:50px;
    float:left;
    margin-left: 5px;
    margin-right: 7px;
}
.sharelabel a:link,
.sharelabel a:visited,
.sharelabel a:active
{
    color: blue;
}
.sharelabel a:hover
{
    color: white;
    background-color: blue;
}
.bookintro{
    width:500px;
    background-color: antiquewhite;
    float:left;
    margin-top: 2px;
    margin-bottom: 10px;
}
.authorintro{
    width:500px;
    background-color: antiquewhite;
    float:left;
    margin-top: 2px;
    margin-bottom: 10px;
}
.booklabel{
    width:500px;
    background-color: antiquewhite;
    float:left;
    margin-top: 2px;
    margin-bottom: 10px;
}
.guide{
    color: green;
}
.cont{
    font-family: cursive;
    font-size: 13px;
}
*/