body{
  background-color: #C5FA4F;
}

.register-success{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-success p{
    font-size: 24px;
}

.register-success a{
    color: #63C51C;
    text-decoration: none;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
}