.indent{
    word-break: break-all;
}

.paginator{
    font: 14px Arial, Helvtica, sans-serif;
    color: #aaa;
    margin: 20px 0;
    line-height: 150%;
    text-align: center;


.paginator .thispage{
    color: #fff;
    background: #83BF73;
}

.paginator a, .thispage{
    padding: 0px 4px;
    margin: 20px;
}

a:link, a:visited, a:focus{
    color: #3377aa;
}

a:link{
    text-decoration: none;
}

a{
    cursor: pointer;
}

