<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户设置</title>
    <link rel="stylesheet" href="{% static "css/account.css" %}"
</head>
<body>
    <form id="user_form" method="post" action="/account/{{ user.username }}/" enctype="multipart/form-data">
         {% csrf_token %}
         <h2>账户设置</h2>
         <label for="new_username">修改用户名</label>
         <input type="text" name="new_username" value=""/>
         <label for="new_password">修改密码</label>
         <input type="text" name="new_password" value=""/>
         <label for="new_email">修改电子邮箱</label>
         <input type="text" name="new_email" value=""/>
         <label for="new_picture">重置头像</label>
         <input type="file" name="new_picture">
         <!-- Provide a button to click to submit the form. -->
         <input type="submit" name="submit" value="修改账户" />
     </form>
</body>