{% extends "base.html" %}

{% block title %}
写写书评
{% endblock %}

{% load staticfiles %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
  <div id="comment" class="container">
      <form action="http://127.0.0.1:8000/book_detail/{{comment_detail.book_id}}/"
            class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1" method="get">
          <h2>评论 — {{comment_detail.title}}</h2>
          <div class="comment-title">
            <label>题目</label>
            <input type="text" name="fname" id = "timu"/>
          </div>
          <input type="text" value = "{{user.username}}" name="user" id = "notshow1"/>
          <input type="text" value = "{{comment_detail.title}}" name="bkname" id = "notshow2"/>
          <div class="comment-content">
            <label>正文</label>
            <textarea id="zhengwen" name="rev_text"></textarea>
          </div>
          <div class="row-footer">
            <span class="bn-flat cancel-review">
              <input id="publish_review" class="btn btn-success" value="发表" type="submit" name="rev_submit" href="detail.html">
            </span>
          </div>
      </form>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}