<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes Here</title>
</head>
<body>
    <div>
        {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <form action="." method="post">
        {% csrf_token %}

        <div class="notes_title"><h1>写笔记   <span>《{{note_book_title}}》</span></h1></div>
        <div class="book_page">页&nbsp;码:
            <span>第
                {{form.page}}
                {{form.page.errors}}
                页</span>
        </div>
        <br/>
        <div class="chapter">章&nbsp;节&nbsp;名
            {{form.chapter}}
            {{form.chapter.errors}}
        </div>
        <br/>
        <div class="item_content">
            <label>笔记内容: </label>
            <div class="editor">
                {{form.content}}
                {{form.content.errors}}
            </div>
        </div>
        <br/>
        <div class="item_submit">
            <span class="bn_flat">
                <input value="发表" name="publish" type="submit">
            </span>
        </div>
    </form>
</body>
</html>