{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% load staticfiles %}

{% block css_link %}
  <link rel="stylesheet" href="{% static "css/laber_detail.css" %}" />
  <link rel="stylesheet" href="{% static "css/search.css" %}" />
{% endblock %}

{% block content %}
{% if error %}
 <p class="wrong-info">抱歉，您的输入有误&nbsp;&nbsp;>_<|||</p>
{% else %}
{% if book_list %}
<div class="container result">
  <h3 class="result-intro">为您找寻到<span class="result-num">{{ book_list|length }}</span>本图书</h3>
  <ul class="result-details row">
  {% for book in book_list %}
    <li class="result-detail col-xs-12 hidden">
      <div class="detail-pic col-xs-4">
        <a href="{% url 'detail' book_id=book.book_id %}">
          <img src={{book.cover_url}} alt={{book.title}}/>
        </a>
      </div>
      <div class="detail-info col-xs-4">
        <div class="detail-title"><a href="{% url 'detail' book_id=book.book_id %}">{{ book.title }}</a></div>
        <div>{{book.author}}, {{book.publisher}}, {{book.publisher_date}}, {{book.price}}</div>
      </div>
      <div class="detail-score col-xs-4">
        <div>悦读评分</div>
        <div class="detail-mark">{{book.score}}</div>
      </div>
    </li>
  {% endfor %}
  </ul>
  <nav>
    <ul class="pagination">
    </ul>
  </nav>
</div>
{% else %}
<p class="wrong-info">抱歉，未能找到相匹配的书籍&nbsp;>_<|||</p>
{% endif %}
{% endif %}
{% endblock %}

{% block js_link %}
{% if not error and book_list %}
<script>
  $(function () {
    // prepare the pagination button
    var bookNum = {{book_list|length}};
    var numPerPage = 10;
    var pageNum = Math.ceil(bookNum / numPerPage);
    var textHtml = '';
    for (var i = 1; i <= pageNum; i++){
      textHtml += "<li><a href='javascript:;'>" + i + "</a></li>";
    }
    var $pagination = $(".pagination");
    $pagination.html(textHtml).children("li").eq(0).addClass("active");

    // prepare the books that first shows
    var $paginationItem = $pagination.children("li");
    var $bookItem = $('.result-details').children('li');
    for (var j = 0; j < numPerPage; j++){
      $bookItem.eq(j).removeClass("hidden");
      console.log(j);
    }

    $paginationItem.click(function(){
      var order = $paginationItem.index($(this));
      $paginationItem.removeClass("active");
      $(this).addClass("active");
      $bookItem.addClass("hidden");
      for (j = order * numPerPage; j < (order + 1) * numPerPage; j++){
        $bookItem.eq(j).removeClass("hidden");
      }
    });
  })
</script>
{% endif %}
{% endblock %}