<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if error %}
    <p>None results!</p>
    {% else %}
        {% if book_list %}
            <p>Found {{ book_list|length }} book{{ book_list|pluralize }}.</p>
            <ul>
                {% for book in book_list %}
                <li>{{ book.title }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No books matched your search criteria.</p>
        {% endif %}
    {% endif %}
</body>
</html>