<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户设置成功</title>
    <style>
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p{
            font-size: 24px;
        }
        a{
            color: palevioletred;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <p>账户修改成功！</p>
        <p>请移步至<a href="/">首页</a>重新登陆~</p>
    </div>
</body>
</html>